recursive-include pretix_attendance_certificate/static *
recursive-include pretix_attendance_certificate/templates *
recursive-include pretix_attendance_certificate/locale *
include LICENSE
exclude .gitlab-ci.yml
